<?xml version="1.0" encoding="utf-8"?>
<widget id="ke.nellions.packinglist" version="2.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>
		Packing List 2.0
	</name>
	<description>
		Packing List 2.0
	</description>
	<author email="chrismuiruri007@gmail.com" href="http://cordova.io">
		Code Moran CL
	</author>
	<preference name="pgb-builder-version" value="2" />
	<preference name="phonegap-version" value="cli-9.0.0" />
	<framework src="com.android.support:support-v4:27.1.0" />
	<icon src="icon.png" />
	<content src="index.html" />
	<!-- <plugin name="cordova-plugin-whitelist" /> -->
	<!-- Do not auto hide splash on iOS -->
	<preference name="AutoHideSplashScreen" value="false" />
	<!-- Do not auto hide splash on Android -->
	<preference name="SplashScreenDelay" value="10000" />
	<plugin name="cordova-plugin-file-transfer" />
	<plugin name="cordova-plugin-inappbrowser" />
	<plugin name="cordova-plugin-file" />
	<plugin name="cordova-plugin-splashscreen" />
	<plugin name="cordova-plugin-privacyscreen" />
	<plugin name="cordova-plugin-file-opener2" />

    <access origin="*" />
    <access origin="tel:*" launch-external="yes" />
    <access origin="mailto:*" launch-external="yes" />
    <access origin="geo:*" launch-external="yes" />

    <allow-navigation href="cdvfile:*" />
    <allow-navigation href="content:*" />
    <allow-navigation href="data:*" />
    <allow-navigation href="blob:*" />
    <allow-navigation href="*" />

    <allow-intent href="*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
	<allow-intent href="geo:*" />
	
</widget>
